body {
    background-color: rgb(221, 234, 235);
}

ul {
    list-style-type: none;
}

div.dashboard {
    margin: 20px;
    padding: 0;
    min-width: 40rem;
}

div.dashboard-content {
    margin: 10px 0px;
    padding: 0px;
    border: solid 2px black;
}

div.dashboard-header {
    display: flex;
    margin: 0px;
    padding: 0;
    border-bottom: solid 1px;
    background-color: rgb(103, 179, 123);
}

div.dashboard-header span {
    padding: 2px 5px;
}

div.dashboard-header span.task-timeline {
    padding: 0;
}

div span.task-timeline {
    overflow-x: auto; 
    overflow-y: hidden;
}

li span.task-timeline {
    overflow-x: hidden;
    overflow-y: hidden;
}

div.dashboard-header span.day-span {
    padding: 2px 0;
}

ul.dashboard-tasks {
    margin: 0px;
    padding: 0;
}

.dashboard-tasks li {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(166, 241, 186);
    border-bottom: 1px solid grey;
    max-height: 22px;
}

.dashboard-tasks li:last-child {
    border-bottom: none;
}

.task-assignee, .task-name { 
    width: 6rem;
    min-width: 6rem;
    border-right: solid 1px;
    padding: 2px 5px;
}

.task-name { 
    width: 14rem;
    min-width: 14rem;
}

span.task-timeline {
    display: flex;
    width: calc(100% - 24.5rem - 33px);
    padding: 0px 0px;
}

span.day-span {
    text-align: center;
    border-right: solid 1px gray;
    min-width: 24px;
    max-width: 24px;
    font-size: 0.8rem;
}

span.marked {   
    background-color: green;
}

span.holiday {
    background-color: darksalmon;
}

span.today {
    color: blue;
    font-weight: bold;
}


/* controls column */

.dashboard-tasks li:last-child .dnmark {
    display: none;
}
    
.dashboard-tasks li:first-child .upmark {
    display: none;
}

span.task-controls {   
    width: 4.5rem;
    min-width: 4.5rem;
    border-left: solid 1px;
    padding: 2px 5px;
    display: inline-block;
}

.task-controls span { 
    width: 1.3rem;
    min-width: 1.3rem;
    display: inline-block;
}

.dashboard-task img {
    text-decoration: none;
    margin: 2px;
    width: 17px;
}


/* add new task */

button#new-task-btn {
    padding: 0px 5px;
    width: fit-content;
    text-align: left;
    font-size: 1.0rem;
    background-color: rgb(166, 241, 186);
    border-color: rgb(166, 241, 186);
}

#new-task-btn img {
    text-decoration: none;
    margin-right: 5px;
    width: 26px;
}

#new-task-btn span {
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

div#new-task {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: rgb(166, 241, 186);
    width: fit-content;
}

#new-task input, #new-task label {
    border: none;
    margin: 5px;
}

button.add-task-btn {
   display: inline block;
   padding: 5px;
   margin: 5px;
   margin-top: 10px;
   font-size: 1.0rem;
   width: 6rem;
   background-color: rgb(103, 179, 123);
   border-color: rgb(103, 179, 123);
}
